@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')
:root {
    --Skyblue: skyblue;
}
:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Purple: hsl(248, 32%, 49%); 
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; 
}

body {
    background-image: url("images/bg-intro-mobile.png");
    background-size: cover;
    background-color: var(--Red);
    /* height: 100%; */
    font-family: "Poppins", sans-serif;
}

.wrapper {
    margin: auto;
    text-align: center;
    border: 2px var(--Green) solid;
    font-size: 16px;
}

.title {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 120%;
    max-width: 250px;
    margin: auto;
    margin-top: 70px;
}

.paragraph {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 130%;
    max-width: 340px;
    margin: auto;
    margin-top: 23px;
}

footer {
    border: 2px var(--Grayish-Blue) solid;
    text-align: center;
}