:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Purple: hsl(248, 32%, 49%); 
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; 
}

body {
    background-image: url("images/bg-intro-mobile.png");
    background-size: 375px 1000px;
    background-position: center;
    background-color: var(--Red);
    font-family: "Poppins", sans-serif;
    max-width: 400px;
    margin: auto;
    min-height: 100vh;
}

.wrapper {
    margin: auto;
    text-align: center;
    font-size: 16px;
}

.title {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 120%;
    max-width: 250px;
    margin: auto;
    margin-top: 70px;
}

.paragraph {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 130%;
    max-width: 340px;
    margin: auto;
    margin-top: 23px;
}

.cta {
    background-color: var(--Purple);
    color: white;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    line-height: 130%;
    min-height: 50px;
    max-width: 350px;
    padding: 1rem 5rem;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 1px 6px rgba(44, 43, 43, 0.2);
}

.seven {
    font-weight: 700;
}

.input-form {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    display: block;
    max-width: 350px;
    margin: auto;
    box-shadow: 1px 6px rgba(44, 43, 43, 0.2);
    margin-bottom: 5rem;
}

.form {
    padding: .5rem;
    width: 300px;
}

input {
    border: none;
    padding: .5rem;
    height: 40px;
    width: 300px;
    margin-bottom: 25px;
    border-radius: 7px;
}
::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: .5rem; 
}

/* input.pw-label {
    margin-bottom: 10px;
} */

input:focus {
    font-family: "Poppins", sans-serif;
    outline: none !important;
    border:1px solid var(--Purple);
    border-radius: 5px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    caret-color: var(--Purple);
}

small {
    color: var(--Red);
    position: relative;
    font-size: 0.6rem;
    font-style: italic;
    text-align: right;
    padding: 0.3rem;
   }

small.error::before {
    content: "";
    background-image: url("images/icon-error.svg");
    width: 24px;
    height: 24px;
    transform: scale(.7);
    position: absolute;
    top: -30px;
    right: 15px;
    z-index: 1000;
    }

/*always hidden */
.validation {
    visibility: hidden;
    top: -25px;
    right: -95px;
}

.error {
    visibility: visible;
}

input.error {
    border: 1.5px solid var(--Red);
}

/*clears the placeholder when error class is triggered*/
input.error::placeholder {
    color: transparent;
  }

.submit {
    background-color: var(--Green);
    display: block;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    margin: auto;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    min-height: 50px;
    min-width: 300px;
    box-shadow: 1px 6px rgba(44, 43, 43, 0.2);
    cursor: pointer;
}

.submit:focus {
    outline: none !important;
}


.legal {
    font-weight: 400;
    font-size: .8rem;
    line-height: 180%;
    color: var(--Grayish-Blue);
    max-width: 250px;
    margin: auto;
}

.terms {
    color: var(--Red);
    font-size: .8rem;
    font-weight: 700;
}

footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    color: var(--Purple);
    font-weight: 600;
    font-size: 1rem;
}

@media (min-width: 720px){
    .wrapper{
        display: flex;
        width: 100vh;
        min-height: 100vh;
    } 

    body {
        background-image: url("images/bg-intro-desktop.png");
        background-size: cover;
    }

    input {
        padding: 1.2rem; 
    }

    .input-form {
        padding-bottom: 2rem;
    }

    .title {
        font-size: 3rem;
        min-width: 400px;
        position: absolute;
        left: 60px;
        bottom: 300px;
        font-weight: 700;
        text-align: left;
    }

    .paragraph {
        position: absolute;
        left: 60px;
        bottom: 220px;
        font-size: .9rem;
        font-weight: 600;
        min-width: 430px;
        text-align: left;
        line-height: 1.5;
    }

    .cta {
        max-height: 40px;
        min-width: 450px;
        position: absolute;
        right: 50px;
        top: 20px;
        font-size: .8rem;
        font-weight: 400;
    }

    .seven {
        font-size: .8rem;
        font-weight: 600;
    }

    .input-form {
        position: absolute;
        margin-right: 10rem;
        min-width: 450px;
        padding-bottom: 0;
        right: -6.5rem;
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    
    input {
        margin: auto;
        width: 380px;
    }
    
    .submit {
        font-size: .8rem;
    }

    .legal {
        font-size: .5rem;
        padding: .1rem;
        position: absolute;
        bottom: 22px;
        left: 105px;
    }

    .terms {
        font-size: .5rem;
    }


    small.error::before {
        top: -29px;
        right: 5px;
    }

    .validation {
        top: -2.5px;
        right: -173px;
    }

    input.error {
        margin-top: 10px;
    }

    .submit {
        position: relative;
        bottom: -10px;
        /* margin-bottom: 30px; */
    }

    .legal {
        position: relative;
        margin-bottom: 0;
        bottom: 5px;
        left: 2px;
        padding-bottom: 20px;
    }

    footer {
        position: absolute;
        bottom: 0;
        height: 2.5rem;
        padding-top: 1rem;
    }
}

/* @media(min-width:1300px) {
    .input-form {
        right: -9rem;
    }
} */

/*placed at the bottom due to error message with root when placed at the top */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')